#meetJean {
  .col50:last-of-type{
    text-align: center;
  }
  img {
    width: 90%;
    @include breakpoint (largeMobileScreen) {
      width: 50%;
    }
    @include breakpoint (laptopScreen) {
      width: 80%;
    }
    @include breakpoint (largeScreen) {
      width: 50%;
    }
  }
}
