/* 7.0 Button Stylings ---------------------------------------*/
.primaryLink{
  color: $orangeAccent !important;
	transition: .3s ease all;
    &:hover{
      transition: .3s ease all;
    	color: $orangeAccentDark !important;
    }
}
.plainLink{
	text-decoration: none;
	color: $primaryColor;
	transition: .3s ease all;
	position: relative;
		&:after{
			position: absolute;
			content: "";
			height: 2px;
			width: 100%;
			opacity: 0;
			background-color: $primaryColorLight;
			bottom: 25%;
			left: 0;
			transition: .2s ease all;
		}
    &:hover{
    color: $primaryColorLight;
    transition: .3s ease all;
			&:after{
				position: absolute;
				content: "";
				height: 2px;
				width: 100%;
				opacity: 1;
				background-color: $primaryColorLight;
				bottom: -2px;
				left: 0;
				transition: .2s ease all;
			}
		}
}
.primaryButton{
	position: relative;
	z-index:1;
	border: 2px solid $primaryColor;
	border-radius: 10px;
	background: $primaryColor;
	color: $white !important;
	margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
	transition: .2s ease all;
	cursor: pointer;
    &:hover{
      background: $primaryColorLight !important;
      border: 2px solid $primaryColorLight !important;
    	transition: .2s ease all;
    }
    &:hover .arrowIcon{
      margin-left: 25px;
      transition: .2s ease all;
    }
    @include breakpoint(tabletScreen){
      padding: 10px 50px 10px 50px;
    }
}
.primaryButtonReverse{
	position: relative;
	z-index:1;
	border: 2px solid $primaryColor;
	border-radius: 30px;
	padding: 10px 50px 10px 50px;
	color: $primaryColor;
	margin-bottom: 10px;
	transition: .3s ease all;
	cursor: pointer;
    &:hover{
      background: $primaryColor;
    	transition: .3s ease all;
    	color: $white;
    }
}
