/* 7.0 Button Stylings ---------------------------------------*/
/* 7.0 Button Stylings ---------------------------------------*/
.plainLink{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	text-decoration: none;
	color: $primaryColor;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	position: relative;
		&:after{
			position: absolute;
			content: "";
			height: 2px;
			width: 100%;
			opacity: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			background-color: $primaryColorLight;
			bottom: 25%;
			left: 0;
			-webkit-transition: .2s ease all;
			transition: .2s ease all;
		}
    &:hover{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: $primaryColorLight;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
			&:after{
				position: absolute;
				content: "";
				height: 2px;
				width: 100%;
				opacity: 1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				background-color: $primaryColorLight;
				bottom: -2px;
				left: 0;
				-webkit-transition: .2s ease all;
				transition: .2s ease all;
			}
		}
}
.primaryButton{
	position: relative;
	z-index:1;
	border: 2px solid $primaryColor;
	border-radius: 10px;
	background: $primaryColor;
	color: $white !important;
	margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
  text-decoration: none;
	cursor: pointer;
  white-space: nowrap;
    &:hover{
      background: $primaryColorLight !important;
      border: 2px solid $primaryColorLight !important;
    	-webkit-transition: .2s ease all;
    	transition: .2s ease all;
    }
    &:hover .arrowIcon{
    	left: 20px;
      -webkit-transition: .2s ease all;
      transition: .2s ease all;
    }
    &:hover .arrowIconLeft{
    	left: -20px;
      -webkit-transition: .2s ease all;
      transition: .2s ease all;
    }
    @include breakpoint(tabletScreen){
      padding: 10px 50px 10px 50px;
    }
}
