/* 13.0 Contact Page stylings -------------------------------------------*/
.wpcf7 {
  input[type=text], input[type=email], textarea {
    border: 1px solid $black;
    border-radius: 5px;
  }
  textarea {
    height: 100px;
  }
  input[type=submit] {
    position: relative;
  	z-index:1;
  	border: 2px solid $primaryColor;
  	border-radius: 10px;
  	background: $primaryColor;
  	color: $white !important;
  	margin-bottom: 10px;
    padding: 5px 20px;
  	transition: .2s ease all;
  	cursor: pointer;
      &:hover{
        background: $primaryColorLight !important;
        border: 2px solid $primaryColorLight !important;
      	transition: .2s ease all;
      }
  }
}
