/* 5.0 Footer Stylings -------------------------------------------*/
.site-info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: auto;
	padding: 20px 0 20px 0;
	text-align: center;
	list-style-type: none;
	border-bottom: 1px solid $white;
	background-color: $lightGrey;
    @include breakpoint(laptopScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
		  height: 75px;
    }
}
.site-footer{
	position: relative;
	z-index: 2;
	background-color: $secondaryColor;
	width: 100%;
	padding: 0 0 50px 0;
	margin: 0 auto;
	background-color: $lightGrey;
}
.footerLogo{
	margin-top: 10px;
	height: auto;
	width: 180px;
		@include breakpoint(smallScreen){
			width: 150px;
		}
}
.footerContact{
	margin-top: 25px;
	margin-bottom: 25px;
  a{
  	text-decoration: none;
  	color: $primaryColor;
  	-webkit-transition: .3s ease all;
  	transition: .3s ease all;
      &:hover{
        color: $black;
        -webkit-transition: .3s ease all;
        transition: .3s ease all;
      }
  }
}
.footerBlock{
	width: 100%;
	@include breakpoint(laptopScreen){
		width: 50%;
	}
}
.footerCTA{
	margin-right: 0;
	@include breakpoint(laptopScreen){
		margin-right: 100px;
	}
}
#copyrightWrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
	@include breakpoint (largeMobileScreen) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	@include breakpoint (laptopScreen) {
		margin-bottom: 0;
	}
}
#copyright{
	background: $lightGrey;
	color: $black;
	margin-bottom: -50px;
	font-size: 12px;
		p{
			-webkit-margin-before: 1em;
			        margin-block-start: 1em;
			-webkit-margin-after: 1em;
			        margin-block-end: 1em;
		}
		@include breakpoint(tinyScreen){
			font-size: 10px;
		}
		@include breakpoint(smallScreen){
			font-size: 12px;
		}
		@include breakpoint(largeMobileScreen){
			font-size: 14px;
		}
		@include breakpoint(laptopScreen){
			font-size: 12px;
		}
    @include breakpoint(extraLargeScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
			font-size: 16px;
    }
      a{
        text-decoration: none;
      	color: $primaryColor;
				&:hover{
					color: $primaryColorLight;
				}
      }
}
#footerIcon{
	font-size: 12px;
}
.copyrightContentWrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border-top: 1px solid $white;
	padding: 20px 0;
		@include breakpoint(laptopScreen){
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			-o-justify-content: space-between;
		}
}
#copyrightContent{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
		@include breakpoint(smallScreen){
			font-size: 14px;
		}
}
#closingLinks{
	margin: 0;
	position: relative;
	a{
		padding: 10px;
	}
	@include breakpoint(smallScreen){
		margin: 15px 0 25px 0;
	}
}
.footerNav{
	a{
		padding: 5px 10px;
		color: $black !important;
		font-weight: 700;
		-webkit-transition: .3s ease all;
		transition: .3s ease all;
		&:hover{
			color: $primaryColor !important;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}
		@include breakpoint(smallScreen){
			font-size: 10px;
		}
	}
}
