/* 8.0 General Body Styles -------------------------------------------*/
body{
	background: $white;
	margin: 0;
}
.site-content{
	margin-top: 70px;
}
::-moz-selection{
		background: rgba(142, 190, 88, .5);
}
::selection{
		background: rgba(142, 190, 88, .5);
}
::-moz-selection{
	background: rgba(142, 190, 88, .5);
}
#privacyPolicy{
	margin-top: 100px;
}
html {
  scroll-behavior: smooth;
}
