/*4.0 Header Styling -------------------------------------------*/
.site-header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
}
.main-navigation{
	height: 100px;
	width: 100%;
	margin: 0 auto;
	background: $lightGrey;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	box-shadow: 0 0 28px 0 rgba(0,0,0,.25);
		@include breakpoint(smallScreen){
			height: 70px;
		}
}
.menuLinkWrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.entry-header{
	display:none;
}
.siteLogo{
	margin-top: 8px;
	height: auto;
	width: 150px;
		@include breakpoint(smallScreen){
			width: 125px;
		}
}
	nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	height: 70px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
}
.menuText{
	cursor: pointer;
	font-size: 26px;
	font-weight: 700;
	padding-right: 10px;
	color: $black;
	text-decoration: none;
	-webkit-transition: .3s ease-out all;
	transition: .3s ease-out all;
}
.menuTextWrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 10px;
	right: 100px;
}
.menuBars{
	cursor: pointer;
	display: inline-block;
	width: 30px;
	padding-top: 7px;
		span{
			display: block;
			position: relative;
			background-color: $primaryColor;
			height: 3px;
			width: 100%;
			margin-top: 4px;
		}
}
.menu{
	position: absolute;
	top: 0;
	z-index: 99999;
	height: 70vh;
	width: 100vw;
	background-color: $lightGrey;
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	-webkit-transition: .2s ease-out all;
	transition: .2s ease-out all;
}
.open{
	position: fixed;
	-webkit-transform: translate(0);
	        transform: translate(0);
	-webkit-transition: .1s ease-out all;
	transition: .1s ease-out all;
}
.linkWrap{
	position: absolute;
	top: 150px;
	margin: 0 50px 0 50px;
	width: 90%;
	text-align: left;
	top: 75px;
	padding: 0;
	margin: 0;
		a{
			color: $black;
			font-weight: 700;
			text-decoration: none;
		}
		li{
			list-style-type: none;
			margin-top: 25px;
			font-size: 20px;
			line-height: 5px;
			padding-bottom: 10px;
			border-bottom: 1px solid $white;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}
}
.menuLink{
	position: relative;
	display: block;
	padding: 10px 50px 10px 50px;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
}
.mobileMenuLink {
	position: relative;
	display: block;
	padding: 10px 30px 10px 30px;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
}
.menuLink{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		&:before{
			position: absolute;
			content: "";
			bottom: 18px;
			right: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $primaryColor;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
			visibility: hidden;
				@include breakpoint(laptopScreen){
					visibility: visible;
				}
		}
		&:after{
			position: absolute;
			content: "";
			top: 75%;
			left: 20%;
			width: 60%;
			height: 3px;
			opacity: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			background-color: $primaryColor;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}
		&:hover{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			&:after{
				position: absolute;
				content: "";
				top: 100%;
				left: 20%;
				width: 60%;
				height: 3px;
				opacity: 1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				background-color: $primaryColor;
				-webkit-transition: .3s ease all;
				transition: .3s ease all;
				-webkit-transition: opacity .3s ease all;
				transition: opacity .3s ease all;
		}
	}
}
.contactLink{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position: relative;
	display: block;
	padding: 10px 30px 10px 30px;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
		@include breakpoint(largeScreen){
			padding: 10px 50px 10px 50px;
		}
	&:after{
		position: absolute;
		content: "";
		top: 75%;
		left: 20%;
		width: 60%;
		height: 3px;
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		background-color: $primaryColor;
		-webkit-transition: .3s ease all;
		transition: .3s ease all;
	}
	&:hover{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		&:after{
			position: absolute;
			content: "";
			top: 100%;
			left: 20%;
			width: 60%;
			height: 3px;
			opacity: 1;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			background-color: $primaryColor;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
			-webkit-transition: opacity .3s ease all;
			transition: opacity .3s ease all;
		}
	}
}
.closeMenu{
	position: absolute;
	cursor: pointer;
	top: 30px;
	right: 50px;
}
.closeMenuButton{
	position: absolute;
	cursor: pointer;
	bottom: 0;
	left: 0;
	height: 60px;
	background-color: $primaryColor;
}
#closeMenuTitle{
	margin: 0 auto;
	color: $black;
}
.linkList2{
	display:none;
		@include breakpoint(laptopScreen){
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			height: 70px;
			-webkit-box-align:center;
			    -ms-flex-align:center;
			        align-items:center;
			list-style-type: none;
			font-size: 20px;
		}
		a{
			color:$black;
			font-weight: 700;
			text-decoration: none;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
			&:hover{
				color: $primaryColor !important;
				-webkit-transition: .3s ease all;
				transition: .3s ease all;
			}
		}
}
.menuButtonWrap{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	right: 30px;
	padding: 20px;
		@include breakpoint(laptopScreen){
			display: none;
		}
		@include breakpoint(smallScreen){
			padding: 15px;
		}
}
