/* 10.0 Homepage stylings -------------------------------------------*/
#hero {
  img {
    width: 75%;
  }
  .col50:last-of-type {
    text-align: center;
  }
}
.heading{
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
	@include breakpoint(largeMobileScreen){
		margin-top: 50px;
	}
}
.mainHeader{
	margin-bottom: 0;
}
.heroHeading{
	padding: 25px;
    @include breakpoint(smallScreen){
      padding: 20px;
    }
    @include breakpoint(largeMobileScreen){
      padding: 25px;
    }
}
.greenShadow{
	box-shadow: 20px 20px $primaryColor;
}
.greenShadowReverse{
	box-shadow: -20px 20px $primaryColor;
}
#pageContent{
	@include breakpoint(extraLargeScreen){
		margin-top: 100px;
	}
}
#uniqueProcess {
  .col30 {
    img {
      width: 100%;
    }
  }
  .col30, p:first-of-type {
    text-align: center;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
  }
  p {
    text-align: left;
  }
}
.illustration{
	text-align: center;
	width: 60%;
		@include breakpoint(extraLargeScreen){
			width: 50%;
		}
}
.smallPaddedWrapper{
	padding: 20px;
}
.industryWrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
  ul {
    margin-top: 0;
  }
}
.serviceFlexContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	@include breakpoint(largeMobileScreen){
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
.processHeader{
	-webkit-margin-before: 25px !important;
	        margin-block-start: 25px !important;
	-webkit-margin-after: 0 !important;
	        margin-block-end: 0 !important;
}
.recommendationAuthor{
	-webkit-margin-after: 0 !important;
	        margin-block-end: 0 !important;
}
.greenBorder{
	border: 5px solid $primaryColor;
	border-radius: 10px;
}
.testimonial {
  h5 {
    margin-bottom: 0;
  }
  h6 {
    color: $primaryColor;
  }
}
