/*9.0 Icon Styling -------------------------------------------*/
.greenSocialIcon{
	color: $primaryColor;
	font-size: 40px;
	margin: 10px;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
		&:hover{
			color: $primaryColorLight;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}
		@include breakpoint(laptopScreen){
			font-size: 60px;
		}
}
.arrowIcon{
	position: relative;
	left: 15px;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
}
.arrowIconLeft{
	position: relative;
	left: -15px;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
}
