/* 3.0 Our page layouts -------------------------------------------*/
.col20{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 20%;
    }
}
.col30{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 33.3333%;
    }
}
.col40{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 40%;
    }
}
.col50{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 50%;
    }
}
.col60{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 60%;
    }
}
.col70{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 70%;
    }
}
.col80{
  width: 100%;
    @include breakpoint(laptopScreen){
      width: 80%;
    }
}
.pageWidth{
		width: 95%;
		height: 100%;
		margin: 0 auto;
			@include breakpoint(largeScreen){
        width: 70%;
      }
	}
.fullWidth{
  width: 100%;
}
.navWidth{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.contentBlock{
  	width: 90%;
		margin: 0 auto;
		height: auto;
		padding: 50px 20px 50px 20px;
    @include breakpoint(laptopScreen){
      width: 70%;
    }
  }
.blockText{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
    @include breakpoint(laptopScreen){
      padding: 25px;
    }
}
.blockTextSecondary{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $secondaryColor;
	padding: 20px;
	left: 0;
    @include breakpoint(largeMobileScreen){
			width: 90%;
			margin: 0 auto;
    }
    @include breakpoint(laptopScreen){
      padding: 25px;
			left: 25px;
			width: 100%;
			margin: 0;
    }
		@media ( min-width: 1250px){
			padding: 50px 25px;
			left: 10px;
		}
}
.hero{
	position: relative;
	z-index: 1;
	height: 40vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
    @include breakpoint(largeMobileScreen){
      height: 60vh
    }
    @include breakpoint(laptopScreen){
      height: 70vh;
    }
	}
.flex-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.flex-container-reverse{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.centerAlignedContainer{
	display: flex;
	align-items: center;
}
.centeredContainer{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	flex-direction: column;
}
.textWrap{
	padding: 20px;
}
.blockWrap{
	display: flex;
	margin-bottom: 100px;
}
.blockImage{
	display: flex;
	max-width:100%;
	max-height: 100%;
}
.imageBlock{
	padding: 100px 0 100px 0;
}
.image{
	width: 100%;
	height: auto;
}
.textBlock{
	padding: 0;
	margin: 50px 0 50px 0;
	background: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.greyBlock{
	padding: 100px 0 100px 0;
	background: $lightGrey;
}
.blackBlock{
	background: $black;
}
.whiteBlock{
	background: $white;
}
.page-content{
	position: relative;
	z-index: 2;
	margin-top: 50vh;
	background: $white;
}
.paddedSection{
	padding: 50px 0 50px 0;
	@include breakpoint(laptopScreen){
		padding: 100px 0 100px 0;
	}
}
.smallPaddedSection{
		padding: 25px 0 25px 0;
	@include breakpoint(laptopScreen){
		padding: 50px 0 50px 0;
	}
}
.limitWidth {
	width: 95%;
	max-width: 1050px;
	margin: 0 auto;
}
