/* 6.0 Site Typography -------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $black;
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
	line-height: 1.2em;
	font-weight: 700;
	-webkit-margin-before: 0;
	        margin-block-start: 0;
	-webkit-margin-after: 15px;
	        margin-block-end: 15px;
}
p{
	-webkit-margin-before: 0;
	        margin-block-start: 0;
	-webkit-margin-after: 20px;
	        margin-block-end: 20px;
}
h1{
	@include breakpoint(smallScreen){
		font-size: 1.3em;
	}
	@include breakpoint(largeMobileScreen){
		font-size: 1.6em;
	}
	@include breakpoint(extraLargeScreen){
		font-size: 2.4em;
	}
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.4em;
}
h4{
	font-size: 1.3em;
}
h5{
	font-size: 1.2em;
}
h6{
	font-size: 1.1em;
}
.primaryText{
	color: $primaryColor;
}
.lightPrimaryText{
	color: $primaryColorLight;
}
.centerText{
	text-align: center;
}
.leftText{
	text-align: left;
}
.centerTextMobile{
	@include breakpoint(smallScreen){
		text-align: center;
	}
	@include breakpoint(largeMobileScreen){
		text-align: center;
	}
	@include breakpoint(laptopScreen){
		text-align: left;
	}
}
.strongText{
	font-family: 'Roboto', "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
	line-height: 1.2em;
	font-weight: 700;
	font-size: 1.4em;
}
.simpleHeading {
	max-width: 850px;
}
.noMargin {
	margin-bottom: 0;
}
