/* 1.0 sitewide variables -------------------------------------------*/
$primaryColor: #c92b2c;
$primaryColorDarkened: #8a1e1e;
$secondaryColor: #fbf8f5;
$black: #232323;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #E6E6E6;
