/* 8.0 General Body Styles -------------------------------------------*/
body{
	background: $secondaryColor;
	margin: 0;
}
::selection{
		background: rgba(240,0,0,.5);
}
::-moz-selection{
	background: rgba(240,0,0,.5);
}
.plainLink{
	text-decoration: none;
	color: #F00000;
	transition: .3s ease all;
    &:hover{
    color: #1D1D1D;
    transition: .3s ease all;
    }
}
